@charset "UTF-8";
/* IE6 Only*/

html * {
padding: 0;
margin: 0;
border: 0;
}

#maincol-left, #maincol { width: 690px; }
#sidecol-right, #sidecol { width: 210px; }
#home #maincol { width: 600px; }
#home #sidecol { width: 290px; }

#calltoaction {
	margin: 0;
}

#banner ul li { list-style: url(../images/white-bullet.gif) outside; }

#sidenav ul li {
		display: inline-block;
	}

.img-shadow .custom-infoblock { width: 412px; }

#footer .newsletter input.textfield { border: 1px solid #ddd; }

#home-our-projects {
  margin-top: 25px;
}

#download a .download-tor {
  background: url(../images/button-download-arrow.gif) right center no-repeat;
}

#download a:link,
#download a:visited {
  background: url(../images/button-download.gif) left top no-repeat;
}
