@charset "UTF-8";
/* IE7 and Lower */


#nav { margin: 0; }
#nav ul li a:link,
#nav ul li a:visited {
	display: block;
	height: 50px;
}

h1.headline { padding: 5px 0 10px; }
p.desc { margin: -10px 0 10px; }

#download a:link,
#download a:visited {
	margin: -14px 0 0;
}

	#sidenav ul li ul {
		display: inline-block;
	}

	#sidenav ul li.active,
	#sidenav ul li.active-longtitle {
		background: none;
		width: 100%;
		border-bottom: 1px solid #ddd;
	}

.hlist {
	text-align: center;
	display: block;
	width: 100%;
	padding: 0px 0px;
	list-style: none;
	margin: 0px 0px 18px 0px;
	}

	.hlist li {
		width: auto;
		display: inline;
		float: left;
		border-right: 1px solid #444444;
		margin-left: -4px;
		}
	
	.hlist li.last {
		border-right: 0px solid #444444;
		}

	.hlist a {
		display: block;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		text-decoration: none;
		font-weight: bold;
		padding: 0px 8px;
		}
	
.dbox.donate ul.amounts li {
	list-style-type: none;
	display: inline;
	float: left;
	margin-left: 20px;
	}

 .donate-btn {
	width: 122px;
	font-size: 0;
	color: transparent;
 } 
	
.dbox.dl {
	margin: 0px 0px 20px 20px;
	}

.dbox.dsmall {
	display: inline;
	float: left;
	}

	.dbox.dsmall small {
		position: static;
		display: inline;
		float: none;
		}

.focus .continue { padding-bottom: 20px; }

table h2 { margin-bottom: -4px; padding-bottom: 0;}

/*#footer .signup {
	width: 82px;
	font-size: 0;
	color: #fff;
	text-align: right;
}

#footer .go {
	width: 20px;
	font-size: 0;
	color: #fff;
	text-align: right;
}*/