@charset "UTF-8";
/* Layout */

/* UNIVERSAL ------------*/

body {
	background: #fff;
}

#wrap {
	width: 960px;
	margin: 0 auto;
}

.left { float: left; }
.right { float: right; }
.twenty { width: 20%; }
.thirty { width: 30%; }
.forty { width: 40%; }
.fifty { width: 50%; }
.sixty { width: 60%; }
.hundred { width: 100%; }

.nopad { padding: 0; }
.toppad { padding-top: 10px; }
.toptwenty { margin-top: 20px; }
.topforty { margin-top: 40px; }


/* HEADER ------------*/

#header {
	width: 960px;
	height: 97px;
	margin-bottom: 23px;
	position: relative;
}

  h1#logo {
    margin: 0;
    float: left;
  }

	h1#logo a,
	h1#logo a:visited {
		background: url(../images/tor-logo.jpg) left top no-repeat;
		text-indent: -9999px;
		overflow: hidden;
		width: 150px;
		height: 97px;
		display: block;
	}
	
	#nav {
	  float: right;
	}
		
		#nav ul {
			height: 50px;
			float: right;
			margin-bottom: 0;
		}
	
			#nav ul li {
				float: left;
				display: inline;
				width: auto;
			}
			
	#calltoaction {
		height: 30px;
		float: right;
		margin-top: 10px;
	}
	
    #calltoaction ul {
      padding: 0;
      margin: 0;
      height: 30px;
      list-style: none;
      float: right;
    }
    
      #calltoaction ul li {
        list-style: none;
        display: inline;
        float: left;
        width: auto;
        margin-left: 10px;
      }
      
      #calltoaction ul li a:link,
      #calltoaction ul li a:visited{
        background: #96c35a;
        border-top: 1px solid #6ab334;
        border-left: 1px solid #6ab334;
        border-bottom: 1px solid #5a952b;
        border-right: 1px solid #5a952b;
        padding: 8px 8px 0px;
        color: #222c14;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.167em;
        line-height: 1.167em;
        height: 22px;
        float: left;
      }
      
      #calltoaction ul li a:hover,
      #calltoaction ul li a.active { background: #6ab334; }


/* BANNER ------------*/

		#banner {
			background: url(../images/bg-banner.jpg) left top no-repeat;
			height: 200px;
			width: 600px;
			padding: 23px 15px;
			margin-bottom: 15px;
		}
		
		#download a:link,
		#download a:visited {
			margin: -17px 0 0;
            background: url(../images/button-download.png) left top no-repeat;
			width: 257px;
			height: 79px;
			float: left;
			padding: 35px 0 0 80px;
			text-decoration: none;
		}
		
		#download a .download-tor {
			background: url(../images/button-download-arrow.png) right center no-repeat;
			font-family: "Arial Narrow", Arial, sans-serif;
			color: #fff;
			font-size: 2.167em;
			letter-spacing: 1px;
			padding-right: 25px;
		}
		#download a .version {
			color: #bda5cc;
			font-size: 1.167em;
			line-height: 1.167em;
		}
		#download a .info {
			color: #bda5cc;
			font-size: 0.833em;
			line-height: 0.833em;
		}
		
		#download a:hover {
			background-position: 0 -114px;
		}
		#download a:hover .version,
		#download a:hover .info { color: #f1c6a1; }
		
			#banner ul {
				background: #387520 url(../images/banner-gradient.jpg) left top repeat-x;
				border: 1px solid #366b32;
				width: 180px;
				float: right;
				margin: 0 15px 0 0;
				padding: 10px 10px 10px 30px;
			}
		
			#banner ul li {
				list-style: url(../images/white-bullet.png) outside;
				padding: 5px 0;
			}

/* CONTENT ------------*/

#content {
	width: 960px;
}

	#content img { max-width: 550px; } 

	#breadcrumbs { padding: 0 0 10px 5px; }

	#home #maincol {
		float: left;
		width: 620px;
		margin-right: 20px;
	}
	
	#maincol {
		float: right;
		width: 710px;
		margin-bottom: 20px;
	}
	
	#maincol-left {
		float: left;
		width: 710px;
		margin-bottom: 20px;
	}
			
		.subcol {
			width: 280px;
			float: left;
			margin: 0 0 25px;
		}
		
			#content .first {
				margin-right: 20px;
			}

/* SIDEBAR ------------*/
		
#home #sidecol {
	float: right;
	width: 300px;
}
	
#sidecol {
	float: left;
	width: 230px;
	margin-right: 20px;
}
	
#sidecol-right {
	float: right;
	width: 230px;
	margin-left: 20px;
}
	
	#torusers { margin: 0 0 27px; }
		.user {
			margin: 0 0 12px;
			height: auto;
		}
		.user img, .project-icon {
			border: 1px solid #cac8a7;
			float: left;
			margin: 3px 10px 0 0;
		}
		.user p { margin: 0; }
	
/* IMGSHADOW ------------*/

.img-shadow {
	float:left;
	background: url(../images/shadowAlpha.png) no-repeat bottom right !important;
	background: url(../images/shadow.gif) no-repeat bottom right;
	margin: 10px 0 10px 10px !important;
	margin: 10px 0 10px 5px;
}

	.img-shadow .infoblock,
	.img-shadow .important-infoblock,
	.img-shadow .custom-infoblock,
	.img-shadow #sidenav,
	.img-shadow .sidenav-sub {
		display: block;
		position: relative;
		margin: -6px 6px 6px -6px;
		background-color: #fff;
		border: 1px solid #ddd;
	}
	.img-shadow .important-infoblock {
		background-color: #f7f8f0;
		border: 1px solid #eeefe8;
	}
	
	.img-shadow .infoblock,
	.img-shadow .important-infoblock {
		padding: 15px;
		width: 188px;
	}
	
	.img-shadow .custom-infoblock {
		padding: 15px;
		height: 120px;
		width: 426px;
	}

	.img-shadow .infoblock p,
	.img-shadow .important-infoblock p,
	.img-shadow .custom-infoblock p {
		margin: 0;
	}
	
	
/* SIDENAV ------------*/

/*Note: #sidenav-sub is used on the downloads page as a tertiary navigation*/

.img-shadow #sidenav,
.img-shadow .sidenav-sub {
	padding: 10px 0 0;
	width: 218px;
}
		
	#sidenav ul li,
	.sidenav-sub ul li { border-bottom: 1px solid #ddd; }
	
	#sidenav ul li.dropdown a:link,
	#sidenav ul li.dropdown a:visited { background: url(../images/sidenav-arrow.gif) left center no-repeat; }
	#sidenav ul li.dropdown a.active { background: url(../images/sidenav-arrow-active.gif) left center no-repeat; }
	
	.sidenav-sub ul li.dropdown a:link,
	.sidenav-sub ul li.dropdown a:visited { 
		background: url(../images/sidenav-arrow.gif) left top no-repeat;
		margin-top: 12px;
	}
	
	#sidenav ul li a:link,
	#sidenav ul li a:visited {
		display: block;
		height: auto;
		padding: 8px 15px 8px 26px;
	}
	
	#sidenav ul li ul li a:link,
	#sidenav ul li ul li a:visited {
		padding-left: 37px;
	}
	
	.sidenav-sub ul li a:link,
	.sidenav-sub ul li a:visited {
		display: block;
		padding: 0 15px 10px 26px;
		line-height: 16px;
	}
	
	#sidenav ul li.active {
		background: url(../images/sidenav-active.png) left center no-repeat;
		width: 230px;
		border: 0;
	}

  #sidenav ul li ul li ul li a:link,
	#sidenav ul li ul li ul li a:visited {
		padding-left: 48px;
	}
	
/* TABLE ------------*/

table { width: 100%; }

td { padding: 12px; }

table td img,
table tr img {
	border: 1px solid #cac8a7;
	float: left;
	margin-right: 10px;
}

.icon {
	float: left;
	width: auto;
	margin-right: 15px;
	padding: 10px 0;
	border: 0;
}

.calendar {
	background: url(../images/icon-calendar.jpg) left top no-repeat;
	float: left;
	margin-right: 10px;
	width: 45px;
	height: 54px;
	text-align: center;
	padding: 4px 0;
}

.fauxhead {
	background: url(../images/table-arrow.jpg) right top no-repeat;
	width: 100%;
	height: 11px;
}

.beige { background: #f5f5df; }
.gray { background: #d3d3d3; }

.meta {
	float: right;
	width: auto;
}

/* DL TABLE ------------*/

td.intro { padding: 0 0 10px; }

.windows,
.mac,
.linux,
.android { padding: 5px 0 5px 20px; }

.windows { background: url(../images/icon-windows.gif) left center no-repeat; }
.mac { background: url(../images/icon-mac.gif) left center no-repeat; }
.linux { background: url(../images/icon-linux.gif) left center no-repeat; }
.android { background: url(../images/icon-android.gif) left center no-repeat; }


/* MISC ------------*/

.title {
	background: url(../images/table-title-arrow.jpg) right top no-repeat;
	padding: 10px 25px 0 10px;
	height: 33px;
	float: left;
}

	.title a:link,
	.title a:visited {
		background: url(../images/table-title.jpg) left top no-repeat;
		height: 33px;
		display: block;
	}	

.paypal {
	float: left;
	width: auto;
	min-height: 159px;
	max-width: 365px;
}
	.paypal span { padding-right: 20px; }

.warning {
	background: #ebd4a9 url(../images/warning.jpg) left center no-repeat;;
	border: 1px solid #deba78;
	padding: 10px 15px;
}
	.warning p { padding-left: 40px; }
	
.focus {
	background: #f4f2c7;
	border: 1px solid #ebd4a9;
	padding: 10px 15px;
}

	.focus .icon {
		float: left;
		width: auto;
		margin-right: 10px;
	}
	
.featured-project { width: 313px; }
	
/* FORM ------------*/

input, select {
	margin: 0 3px 10px 0;
}

input.textfield {
	padding: 0 10px;
	vertical-align: top;
}

.donate-btn {
    background: left top no-repeat; 
	height: 26px;
	width: 92px;
	text-indent: -9999px;
	overflow: hidden;
	border: 0;
	vertical-align: top;
	margin-top: 5px;
}
	.donate-btn:hover {
		background-position: 0 -26px;
		cursor: pointer;
	}

.signup {
	background: #96c35a;
	border-top: 1px solid #6ab334;
	border-left: 1px solid #6ab334;
	border-bottom: 1px solid #5a952b;
	border-right: 1px solid #5a952b;
	height: 31px;
	padding: 0 5px;
	vertical-align: top;
	color: #222c14;
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
}
	.signup:hover { background: #6ab334; }

select#lang {
	float: left;
	width: 160px;
	margin-right: 3px;
}
.go {
	background: #96c35a;
	border-top: 1px solid #6ab334;
	border-left: 1px solid #6ab334;
	border-bottom: 1px solid #5a952b;
	border-right: 1px solid #5a952b;
	padding: 0 5px;
	vertical-align: top;
	color: #222c14;
	font-weight: bold;
	font-size: 1em;
	line-height: 1em;
	height: 18px;
}
	.go:hover { background: #6ab334; }

	
/* FOOTER ------------*/

#footer {
	/* width: 960px; original */
	width: 1024px;
	height: 200px;
	border-top: 1px solid #ddd;
	padding: 20px 0;
	margin: 20px 0 0;
}

	.onion {
		float: left;
		/* width: 78px; original */
		width: 88px;
		padding-right: 20px;
		height: 100%;
	}

	#footer .about {
		width: 180px;
		padding-right: 30px;
		border-right: 1px solid #ddd;
		float: left;
	}
	
	#footer .newsletter {
		padding: 0 0 15px 30px;
		width: auto;
		margin-left: 308px;
	}
	
		#footer input.textfield {
			width: 220px;
			height: 26px;
		}
		
		#footer input {
			margin: 0;
		}
	
	#footer .col {
		float: left;
		width: 100px;
		margin-left: 20px;
	}
	
		#footer .first { margin-left: 30px; }
		#footer .wider { width: 201px; }
	
/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */
