html { direction: rtl; }

.left { float: right; }
.right { float: left; }

h1#logo {
  float: right;
}

h1#logo a,
h1#logo a:visited {
	background-position: right top;
}

#nav {
  float: left;
}
		
#nav ul {
	float: left;
}
	
#nav ul li {
	float: right;
}
			
#calltoaction {
	float: left;
   margin-left: 5px;
}
	
#calltoaction ul {
  float: left;
}
    
#calltoaction ul li {
  float: left;
  margin-right: 0px;
}

#calltoaction ul li a:link,
#calltoaction ul li a:visited{
  float: left;
}

#banner {
	background-position: right top;
}

#download a:link,
#download a:visited {
	background-position: right top;
	float: right;
	padding: 35px 80px 0 0;
}

#download a .download-tor {
	background-position: left center;
	padding-left: 25px;
}
		
#banner ul {
	background-position: right top;
	float: left;
	margin: 0 0 0 15px;
	padding: 10px 30px 10px 10px;
}

#breadcrumbs { padding: 0 5px 10px 0; }

#home #maincol {
	float: right;
	margin-left: 20px;
	margin-right: 0;
}

#maincol {
	float: left;
}

#maincol-left {
	float: right;
}
			
.subcol {
	float: right;
}
		
#content .first {
	margin-left: 20px;
}
		
#home #sidecol {
	float: left;
}
	
#sidecol {
	float: right;
	margin: 0 0 0 20px;
}
	
#sidecol-right {
	float: left;
	margin: 0 20px 0 0;
}
	
.user img, .project-icon {
	float: right;
	margin: 3px 0 0 10px;
}

.img-shadow {
	float:right;
	background-position: bottom left !important;
	background-position: bottom left;
	margin: 10px 10px 10px 0 !important;
	margin: 10px 5px 10px 0;
}

.img-shadow .infoblock,
.img-shadow .important-infoblock,
.img-shadow .custom-infoblock,
.img-shadow #sidenav,
.img-shadow .sidenav-sub {
	margin: -6px -6px 6px 6px;
}

#sidenav ul li.dropdown a:link,
#sidenav ul li.dropdown a:visited { background: url(../images/sidenav-arrow-rtl.gif) right center no-repeat; }
#sidenav ul li.dropdown a.active { background-position: right center; }

.sidenav-sub ul li.dropdown a:link,
.sidenav-sub ul li.dropdown a:visited { 
	background: url(../images/sidenav-arrow-rtl.gif) right top no-repeat;
	margin-top: 12px;
}

#sidenav ul li a:link,
#sidenav ul li a:visited {
	padding: 8px 26px 8px 15px;
}

#sidenav ul li ul li a:link,
#sidenav ul li ul li a:visited {
	padding-right: 37px;
}

.sidenav-sub ul li a:link,
.sidenav-sub ul li a:visited {
	display: block;
	padding: 0 26px 10px 15px;
}

#sidenav ul li.active {
	background-position: right center;
}

#sidenav ul li ul li ul li a:link,
#sidenav ul li ul li ul li a:visited {
	padding-right: 48px;
}

table td img,
table tr img {
	float: right;
	margin-left: 10px;
}

.icon {
	float: right;
	margin-left: 15px;
}

.calendar {
	background: url("../images/icon-calendar-flipped.jpg") right top no-repeat;
	float: right;
	margin-left: 10px;
}

.fauxhead {
	background-position: left top;
}

.project {
  float: right;
  }
  
.project img {
  margin-right: 0px;
  margin-left: 6px;
  }

.meta {
	float: left;
}

/* DL PAGE ------------*/

.windows24,
.mac24,
.linux24,
.smartphone24,
.sourcecode24 {
  background-position: right center;
  padding: 0px 33px 0px 0;
  }

.warning-top {
  padding: 10px 60px 10px 10px;
  background: url("../images/warning.png") no-repeat scroll 628px 23px #FFFEB6;
  }

.warning-top h2 {
  padding-left: 15px;
  padding-right: 0px;
  }

.warning-top p {
  padding-left: 0;
  padding-right: 10px;
  }

.warning h2 {
  padding-left: 0;
  padding-right: 0px;
  }

.warning p {
  padding-left: 0;
  padding-right: 10px;
  }

.accordionButton {
  padding-left: 0px;
  padding-right: 30px;
  }

.on:before {
  left: 0px;
  right: 10px;
  }
  
.off:before {
  left: 0px;
  right: 14px;
  border-left: none;
  border-right: 7px solid #FFFFFF;
  }
  
.accordionContent .fauxhead {
  width: 707px;
  }

.package p {
  padding-left: 0px;
  padding-right: 10px;
  }

.downloads {
  float: left;
  margin: 0px 20px 0 0;
  }

.lang {
  float: left;
  margin: 0px 0px 0px 7px;
  padding: 0px 3px 0px 0px;
  }

/* END DL PAGE ------------*/

.title {
	background: url(../images/table-title-arrow-rtl.jpg) right top no-repeat;
	padding: 10px 10px 0 25px;
	float: right;
}

.title a:link,
.title a:visited {
	background-position: right top;
}	

.paypal {
	float: right;
}
.paypal span { padding-left: 20px; }

.focus .icon {
	float: right;
	margin-left: 10px;
}

input, select {
	margin: 0 0 10px 3px;
}

.donate-btn {
    background-position: right top; 
}

.signup {
	border-right: 1px solid #6ab334;
	border-left: 1px solid #5a952b;
}

select#lang {
	float: right;
	margin-left: 3px;
}
.go {
	border-right: 1px solid #6ab334;
	border-left: 1px solid #5a952b;

}

.onion {
	float: right;
	padding-left: 20px;
}

/* DONATION ADDITIONS ----------- */
.dbox {
	margin: 0px 10px 0px 0px;
	}

	.dbox input ,
	.dbox select {
	   padding: 0px 5px 0px 0px;
	   }
	
	.dbox select.cur {
		margin-right: 0px;
		margin-left: 5px;
		text-align: right;
		}

.dbox.donate {
	text-align: right;
	}

	.dbox.donate .drow {
		margin: 0px 20px 0px 0px;
		}

	.dbox.donate ul.amounts {
		padding-left: 40px;
		padding-right: 0px;
		}

	.dbox.donate ul.amounts li {
		margin-left: 0px;
		margin-right: 15px;
		}

#footer .about {
	padding-left: 30px;
	border-left: 1px solid #ddd;
	float: right;
}

#footer .newsletter {
	padding: 0 30px 15px 0;
	margin-right: 308px;
}

#footer .col {
	float: right;
	margin-right: 20px;
}

#footer .first { margin-right: 30px; }
