@charset "UTF-8";
/* Typography */


/* UNIVERSAL ------------*/

body {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 9pt;
	color: #1a1a1a;
}

h1, h2, h3, h4 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #23300e;
}

h1 a:link,
h1 a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited { text-decoration: none; }


h1 {
	font-size: 2em;
	line-height: 28px;
	margin-bottom: 10px;
}

h2 {
	font-size: 1.5em;
	line-height: 28px;
	margin-bottom: 10px;
}
	.subcol h2 { margin: 0; }
	#sidenav h2,
	.sidenav-sub h2 { padding: 10px 0 0 10px; }
	h2.bulb {
		background: url(../images/lightbulb.jpg) left top no-repeat;
		padding: 0 0 0 25px;
	}

h3 {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	font-size: 1.167em;
	line-height: 20px;
	color: #0d1304;
}

h4 {
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	line-height: 20px;
	font-size: 1em;
}
	.focus h4 { margin-bottom: 5px; }

p, blockquote, ol, ul {
	font-size: 1em;
	line-height: 20px;
	margin-bottom: 18px;
}

a:link, a:visited { color: #4e6a20; }
a:hover { color: #a07320; }

strong { font-weight: bold; }
em { font-style: italic; }

blockquote {
	color: #454545;
	font-style: italic;
	padding: 0 20px;
}

ol, ul {
	padding-left: 40px;
}
ol { list-style: outside lower-alpha; }
ul { list-style: outside square; }

.small { font-size: 0.833em; }

.caps {
	font-size: 1em;
	text-transform: uppercase;
	margin: 2px 0 5px;
}

/* NAVIGATION ------------*/

#nav ul { font-size: 1.167em; }

  #nav ul li { list-style: none; }
  
  #nav ul li a:link,
  #nav ul li a:visited {
    color: #23300e;
    text-decoration: none;
    padding: 10px 20px 0;
    height: 40px;
    float: left;
  }
  #nav ul li a:hover,
  #nav ul li a.active { background: url(../images/bg-nav-hover.jpg) left top repeat-x;}
  #nav ul li a.active { font-weight: bold; }

#breadcrumbs a:link,
#breadcrumbs a:visited,
.meta {
	text-transform: uppercase;
	font-size: 0.833em;
	text-decoration: none;
}

.meta a:link,
.meta a:visited { text-decoration: none; }


/* BANNER ------------*/

h1.headline {
	color: #fff;
	font-size: 3.5em;
	line-height: 28px;
	font-weight: normal;
	text-shadow: 1px 1px 2px #23300e;
	float: left;
	width: 360px;
	margin-bottom: 12px;
}

p.desc {
	font-size: 1.417em;
	line-height: 20px;
	color: #fff;
	text-shadow: 1px 1px 2px #23300e;
	width: 360px;
	float: left;
}

#banner ul {
	color: #fff;
	text-shadow: 1px 1px 2px #366b32;
	line-height: 16px;
	font-size: 1.167em;
}

#banner .incorrect a:link,
#banner .incorrect a:visited {
	color: #fff;
	font-size: 0.833em;
	text-align: right;
	width: 315px;
	float: left;
	padding-right: 45px;
	line-height: 0;
	margin: -3px 0 0;
}

/* SIDENAV ------------*/

#sidenav ul {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

#sidenav ul li ul li { font-size: 0.917em; }

#sidenav ul li a:link,
#sidenav ul li a:visited {
	text-decoration: none;
	color: #23300e;
	line-height: 18px;
}

#sidenav ul li a.active,
#sidenav ul li.active,
#sidenav ul li a:hover { font-weight: bold; }

.sidenav-sub ul {
	padding-left: 0;
	list-style: none;
	margin-bottom: 0;
}

.sidenav-sub ul li a:link,
.sidenav-sub ul li a:visited {
	text-decoration: none;
		line-height: 16px;
}

/* TABLE ------------*/

table h2,
#home-our-projects h2,
#home-announcements h2 {
	background: url(../images/table-head.jpg) left top repeat-x;
	color: #f6f6ed;
	padding-left: 10px;
	margin: 0;
}
table h3 { font-size: 1.167em; }
table p {
	margin: 0; 
}

table .name {
	font-size: 1.5em;
	font-weight: bold;
	color: #23300e;
}

.calendar .month { color: #fff; }
.calendar .day {
	font-weight: bold;
	color: #4d4d4d;
	font-size: 1.429em;
	line-height: 32px;
}

/* DL TABLE ------------*/

.column-title {
	font-weight: bold;
	color: #23300e;
}

/* MISC ------------*/

.continue a:link,
.continue a:visited {
	float: right;
	font-weight: bold;
	text-decoration: none;
}

.paypal {
	font-size: 1.167em;
	color: #666;
}

.warning p {
	color: #3a3a3a;
	margin-bottom: 0;
	line-height: 20px;
}

.focus .name {
	font-size: 1.5em;
	font-weight: bold;
	color: #4e6a20;
}
.focus p { margin: 0; }

.title {
	font-size: 1.167em;
	font-weight: bold;
	color: #f6f6ed;
}

	.title a:link,
	.title a:visited {
		font-weight: bold;
		color: #f6f6ed;
	}
	.title a:hover { color: #f6f6ed; }
	
.or {
	color: #c0e07a;
	font-size: 3em;
	padding: 30px 20px;
	font-weight: bold;
}	

.fakeol {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 3em;
	color: #e4c07e;
	vertical-align: text-top;
	float: left;
	width: 40px;
}

.instructions {
	margin-bottom: 18px;
	float: left;
	width: 620px;
	line-height: 18px;
}

.current-relay,
.target-relay {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 2.5em;
}
.current-relay { color: #695279; }
.target-relay { color: #4e6a20; }


/* FOOTER ------------*/

#footer p,
#footer ul {
	font-size: 0.833em;
}
#footer ul {
	padding-left: 0;
	list-style: none;
}	

#footer ul li {
	line-height: 18px;
}

