#sidenav h2,
.sidenav-sub h2 { padding: 10px 10px 0 0; }
h2.bulb {
	background-position: right top;
	padding: 0 25px 0 0;
}

ol, ul {
	padding-right: 40px;
}
 
#nav ul li a:link,
#nav ul li a:visited {
  float: right;
}
#nav ul li a:hover,
#nav ul li a.active { background-position: right top;}

h1.headline {
	float: right;
}

p.desc {
	float: right;
}

#banner .incorrect a:link,
#banner .incorrect a:visited {
	text-align: left;
	float: right;
	padding-left: 45px;
}

#sidenav ul {
	padding-right: 0;
}

.sidenav-sub ul {
	padding-right: 0;
}

table h2,
#home-our-projects h2,
#home-announcements h2 {
	background-position: right top;
	padding-right: 10px;
}

.continue a:link,
.continue a:visited {
	float: left;
}

.fakeol {
	float: right;
}

.instructions {
	float: right;
}

#footer ul {
	padding-right: 0;
}	

#projects th {
  text-align: right;
}
