RewriteEngine On

# New page lives in /docs/
RewriteRule ^faq(.*) /docs/faq$1 [R=301,L]

# Torbutton
RewriteRule ^torbutton/design(.*) /torbutton/en/design$1 [R=301,L]

# Tor Browser
RewriteRule ^/torbrowser(.*) /projects/torbrowser$1 [R=301,L]

# Overview
RewriteRule ^/overview(.*) /about/overview$1 [R=301,L]
