RewriteEngine On

# New page lives in /docs/
RewriteRule ^faq(.*) /docs/faq$1 [R=301,L]

# Torbutton
RewriteRule ^torbutton/design(.*) /torbutton/en/design$1 [R=301,L]

# Tor Browser
RewriteRule ^/torbrowser(.*) /projects/torbrowser$1 [R=301,L]
RewriteRule ^/torbrowser/dist/(.*) /dist/torbrowser/$1 [R=301,L]

# Overview
RewriteRule ^/overview(.*) /about/overview$1 [R=301,L]

# Vidalia
RewriteRule ^/vidalia/(.*) /projects/vidalia [R=301,L]
RewriteRule ^/vidalia/dist/(.*) /dist/vidalia/$1 [R=301,L]

# Press Page
RewriteRule ^/press/ /press/press.html.en [R=301,L]
RewriteRule ^/press/index.html(.*) /press/press.html$1 [R=301,L]
