RewriteEngine On

# moved to /docs/
RewriteRule ^faq(.*) /docs/faq$1 [R=301,L]
RewriteRule ^bridges(.*) /docs/bridges$1 [R=301,L]
RewriteRule ^abuse(.*) /docs/abuse$1 [R=301,L]
RewriteRule ^documentation(.*) /docs/documentation$1 [R=301,L]
RewriteRule ^verifying-signatures(.*) /docs/verifying-signatures$1 [R=301,L]
RewriteRule ^tor-manual(.*) /docs/tor-manual$1 [R=301,L]

# Torbutton
RewriteRule ^torbutton/design(.*) /docs/torbutton/en/design$1 [R=301,L]

# Tor Browser
RewriteRule ^torbrowser/dist/(.*) /dist/torbrowser/$1 [R=301,L]
#RewriteRule ^torbrowser/$ /projects/torbrowser.html.en [R=301,L]
RewriteRule ^torbrowser(.*) /projects/torbrowser.html.en [R=301,L]

# Overview
RewriteRule ^overview(.*) /about/overview$1 [R=301,L]

# Vidalia
RewriteRule ^vidalia/dist/(.*) /dist/vidalia/$1 [R=301,L]
RewriteRule ^vidalia(.*) /projects/vidalia [R=301,L]

# Press
RewriteRule ^press/$ /press/press [R=301,L]
RewriteRule ^press/index.html(.*) /press/press.html$1 [R=301,L]

# Projects
RewriteRule ^projects/$ /projects/projects [R=301,L]

# GetInvolved
RewriteRule ^getinvolved/$ /getinvolved/volunteer [R=301,L]
RewriteRule ^volunteer(.*) /getinvolved/volunteer$1 [R=301,L]
RewriteRule ^tshirt(.*) /getinvolved/tshirt$1 [R=301,L]

RewriteRule ^research(.*) https://research.torproject.org/ [R=301,L]
RewriteRule ^getinvolved/research(.*) https://research.torproject.org/ [R=301,L]

# other (feel free to categorize)
RewriteRule ^people(.*) /about/corepeople$1 [R=301,L]
RewriteRule ^donate/$ /donate/donate [R=301,L]
RewriteRule ^contact(.*) /about/contact$1 [R=301,L]

# Download websites
RewriteRule ^download/$ /download/download [R=301,L]
RewriteRule ^download.html(.*) /download/download.html$1 [R=301,L]
RewriteRule ^easy-download(.*) /download/download-easy$1 [R=301,L]

# Relays
RewriteRule ^relays(.*) /getinvolved/relays [R=301,L]
