# This is a sample for your Makefile.local.
#
# Copy this to Makefile.local and change the path to match your local
# system.
#

# The path to a clone of the tor source code repository's .git dir.
# Note that if your clone is a non-bare repository that you must not
# leave out the .git part.
#
# e.g.:
# export TORGIT=/home/weasel/projects/tor/tor/.git
export TORGIT=set this to your tor.git path
