/*
BEGIN custom styles
*/

/* 
* the page's main body style, including background
*/

body {
	background-color: #FFFFFF;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	color: #000000;
}

/* 
* this centers the page
*/

.center	{ 
	text-align: center;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 730px;

}

.center table { 
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

/* 
* for the shadow box
*/


TABLE.shadowbox {
	width: 788px;
/*	margin-left: auto;
	margin-right: auto;
	margin: 0; */
	border-collapse: collapse; 
	padding: 0;
	margin-bottom: 2em;
}

TABLE.shadowbox TD {
	margin: 0;
	padding: 0;
}

/* 
* for the shadow edges

TD.leftedge {
	width: 9px;
	background: url("images/leftedge.png");
}

TD.rightedge {
	width: 9px;
	background: url("images/rightedge.png");
}

TD.bottomleft {
	width: 9px;
	height: 7px;
	background: url("images/bottomleft.png");
	background-repeat: no-repeat;
}

TD.bottomright {
	width: 9px;
	height: 7px;
	background: url("images/bottomright.png");
	background-repeat: no-repeat;
}

TD.bottomedge {
	height: 7px;
	background: url("images/bottomedge.png");
	background-repeat: repeat-x;
}

TD.main {
	background-color: white;
	width: 770px;
}
*/

/*
* The banner
*/

DIV.banner {
	background-image: url("images/tor_mast.png");
	background-repeat: no-repeat;
	text-align: left;
	height: 79px;
	width: 730px;
	padding-bottom: 10px;
}

TABLE.table-banner {
	float: right;
	width: 730px;

}

div.bottom {
        font-size: 8px;
        margin-top: 2cm;
        margin-left: 1em;
        margin-right: 1em;
        text-align: right;
}

/* The sidebar */
DIV.sidebar {
	float: right;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
	overflow: auto;
	width: 260px;
	text-align: center;
}

a.current {
	color: orange;
}

/* The links */
TD.links {
	font-size: 8pt;
	color: white;
	font-weight: bold;
	text-align: right;
	vertical-align: top;
	padding: 58px 15px 0 0;
}

TD.links A:link, TD.links A:visited {
	color: white;
	text-decoration: none;
	font-size: 11px;
}

TD.links A:hover {
	color: orange;
	text-decoration: underline;

}

/* The main column (left text) */

DIV.main-column {
/*	padding-right: 280px; */
	padding: 0 0 10px 10px;
	text-indent: 0pt;
	font-size: 10pt;
	text-align: left;
}

/* 
 * Formatting styles
 */
H1 {
	font-size: 12pt;
	margin-bottom: 0.5em;	
}

H2
{
	font-size: 12pt;
	margin-bottom: 0em;
	font-weight: bold;
	margin-top: 0;
}

P {
	margin-top: 0;
	margin-bottom: 1em;
}

A:link {
	color: blue;
	font-size: 10pt;
	text-decoration: none;
}

A:visited {
	color: purple; 
	font-size: 10pt;
	text-decoration: none;
}

TD {
	vertical-align: top;
}

A.smalllink {
	font-size: 8px;
}

/*
END custom styles
*/
