body {
    background-color: #FFFFFF;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-style: normal;
    color: #000000;
    padding-top: 0px;
}

/* images */

img {
    border: 0;
}

/* this centers the page */

.center { 
    text-align: center;
    background-color: white;
    margin: 10px auto 0 auto;
    width: 730px;
}

.center table { 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* for the shadow box */

table.shadowbox {
    width: 788px;
    border-collapse: collapse; 
    padding: 0;
    margin-bottom: 2em;
}

table.shadowbox td {
    margin: 0;
    padding: 0;
}

/* spacer */

td.spacer {
    width: 110px;
}

/* the banner */

div.banner {
    text-align: center;
    height: 79px;
    margin-bottom: 10px;
    width:100%;
}

table.table-banner {
    margin: 0 auto 0 auto;
    background-image: url("images/tor_mast.gif");
    background-repeat: no-repeat;
}

div.bottom {
    font-size: 8px;
    margin-top: 2cm;
    margin-left: 1em;
    margin-right: 1em;
    text-align: right;
}

/* the sidebar */

div.sidebar {
    float: right;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 260px;
    text-align: center;
}

a.current {
    color: #FF7F00;
    font-weight: bold;
    font-size: 11px;
}

a.anchor {
    font-size: 12pt;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

/* The main column (left text) */

div.main-column {
    padding: 0 0 10px 10px;
    text-indent: 0pt;
    font-size: 10pt;
    text-align: left;
}

/* formatting styles */

h1 {
    font-size: 12pt;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 12pt;
    margin-bottom: 0em;
    font-weight: bold;
    margin-top: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

a:link {
    color: blue;
    font-size: 10pt;
}

a:visited {
    color: purple; 
    font-size: 10pt;
}

td {
    vertical-align: top;
}

a.smalllink {
    font-size: 8px;
}

table.banner {
    height: 79px;
    margin-left: auto;
    margin-right: auto;
}

td.banner-left {
    background-image: url("images/top-left.png");
    background-repeat: no-repeat;
    width: 193px;
}

td.banner-middle {
    background-image: url("images/top-middle.png");
    background-repeat: repeat-x;
    vertical-align: bottom;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 11px;
}

td.banner-middle a:link, td.banner-middle a:visited {
    color: white;
    font-weight: bold;
    font-size: 11px;
}

td.banner-middle a:hover {
    color: #FF7F00;
    font-weight: bold;
    font-size: 11px;
}

td.banner-right {
    background-image: url("images/top-right.png");
    background-repeat: no-repeat;
    width: 24px;
}

