@charset "UTF-8";
/* IE7 and Lower */


#nav { margin: 0; }
#nav ul li a:link,
#nav ul li a:visited {
	display: block;
	height: 50px;
}

h1.headline { padding: 5px 0 10px; }
p.desc { margin: -10px 0 10px; }

#download a:link,
#download a:visited {
	margin: -14px 0 0;
}

	#sidenav ul li ul {
		display: inline-block;
	}

	#sidenav ul li.active,
	#sidenav ul li.active-longtitle {
		background: none;
		width: 100%;
		border-bottom: 1px solid #ddd;
	}
	
.donate-btn {
	width: 102px;
	font-size: 0;
	color: #fff;
	text-align: right;
}

.focus .continue { padding-bottom: 20px; }

table h2 { margin-bottom: -4px; padding-bottom: 0;}

/*#footer .signup {
	width: 82px;
	font-size: 0;
	color: #fff;
	text-align: right;
}

#footer .go {
	width: 20px;
	font-size: 0;
	color: #fff;
	text-align: right;
}*/