#thanks_top {
  background: url(../images/thankyou_img.jpg) top right no-repeat;
  height: 270px;
  padding: 20px 475px 0px 20px;
  text-align: center;
  margin-top: 10px;
}

#thanks_top .thankyou_h1 {
  margin: 0px auto 20px auto;
}

#thanks_top p {
  font-family: "Liberation Serif", "Times New Roman", Times, serif;
  font-size: 22px;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  margin-top: -15px;
}

#thanks_btm {
  position: relative;
  background: #e2dbe3;
  height: 215px;
  border: 5px solid #8a6f91;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#thanks_btm_inner {
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  border: 3px solid #8a6f91;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  background: #e2dbe3;
  background-color: #e2dbe3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e2dbe3), to(#FFFFFF)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #e2dbe3, #FFFFFF); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #e2dbe3, #FFFFFF); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #e2dbe3, #FFFFFF); /* IE10 */
  background-image:      -o-linear-gradient(top, #e2dbe3, #FFFFFF); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #e2dbe3, #FFFFFF);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#e2dbe3', EndColorStr='#FFFFFF'); /* IE6–IE9 */
}

#thanks_btm .thankyou_h2 {
  margin: 5px auto;
  float: none;
  border: none;
}

#thanks_btm p {
  font-family: "Liberation Serif", "Times New Roman", Times, serif;
  font-size: 24px;
  color: #000000;
  font-weight: normal;
  font-style: italic;
}

#thanks_row {
  display: table-row;
}

td#thanks_l ,
td#thanks_r {
  width: 466px;
  display: table-cell;
  text-align: center;
  padding: 28px 0px 0px 0px;
}

#thanks_c {
  display: table-cell;
  width: 2px;
  padding: 30px 0px 30px 0px;
}

#v_rule {
    position: absolute;
  display: table-row;
  background: #8b7192;
  width: 2px;
  top: 30px;
  bottom: 30px;
}

#thanks form {
  position: relative;
  width: 300px;
  margin: 25px auto 0px auto;
  padding-top: 0px;
}

#thanks form p { position: relative; margin: 10px 0;}
#thanks form p label { position: absolute; font-family: "Liberation Sans", Arial, Helvetica, sans-serif; z-index: 10;}
#thanks form p label.active { top: 7px; left: 10px; font-size: 16px; color: #888888;}
#thanks form p label.inactive { top: -18px; left: 5px; font-size: 14px; color: #222222;}

#thanks input {
  display: inline-block;
  position: absolute;
  top: 0px;
  bottom: 0px;
  font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 1px solid #3e3748;
  margin: 0px 0px;
}

#email {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 50px;
  font-style: italic;
  color: #23300E;
  border-right: 0px;
  background-color: #dedbe3;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 6px 10px;
  width: 250px;
  height: 19px;
  }

#submit {
  left: 250px;
  right: 0px;
  font-weight:bold;
  line-height: 33px;
  color: #FFFFFF;
  background-color: #dedbe3;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0px 10px;
  background: #9362b1;
  background-color: #9362b1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9362b1), to(#453748)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #9362b1, #453748); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #9362b1, #453748); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #9362b1, #453748); /* IE10 */
  background-image:      -o-linear-gradient(top, #9362b1, #453748); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #9362b1, #453748);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9362b1', EndColorStr='#453748'); /* IE6–IE9 */
  text-shadow: #a793ac 0px 2px 2px,  #222222 0px -2px 2px;
  width: 50px;
  height: 33px;
}

#submit:hover {
  background: #e75f02;
  background-color: #e75f02;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#e75f02)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ffcc00, #e75f02); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, #ffcc00, #e75f02); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, #ffcc00, #e75f02); /* IE10 */
  background-image:      -o-linear-gradient(top, #ffcc00, #e75f02); /* Opera 11.10+ */
  background-image:         linear-gradient(top, #ffcc00, #e75f02);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffcc00', EndColorStr='#e75f02'); /* IE6–IE9 */
  text-shadow: #ffcc00 0px 2px 2px,  #555555 0px -2px 2px;
}

#thanks_l a {
  font-family: "Liberation Serif", "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  color: #9362b1;
}

#thanks_l a:hover {
  text-decoration: underline;
}

#thanks_r a {
  font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #9362b1;
  font-weight: bold;
  text-decoration: none;
  text-shadow: #BBBBBB 2px 2px 3px;
  line-height: 80px;
  padding: 3px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#thanks_r a:hover {
  background-color: #9362b1;
  color: #FFFFFF;
  text-shadow: #444444 2px 2px 3px;
}
